<!DOCTYPE html>
<html data-n-head-ssr lang="es" data-n-head="%7B%22lang%22:%7B%22ssr%22:%22es%22%7D%7D">
<head>
    <title><%= titulo_web %></title>
    <meta data-n-head="ssr" charset="utf-8"/>
    <meta data-n-head="ssr" name="viewport" content="width=device-width, initial-scale=1"/>
    <meta data-n-head="ssr" property="og:title" content="MasterMind Encuentra el Cambio"/>
    <meta data-n-head="ssr" name="description" content="Semana GRATIS. Como perder peso de forma simple y sostenible a través de los conocimientos y herramientas que te proporcionaré para conseguirlo."/>
    <meta data-n-head="ssr" property="og:description" content="Semana GRATIS. Como perder peso de forma simple y sostenible a través de los conocimientos y herramientas que te proporcionaré para conseguirlo."/>
    <meta data-n-head="ssr" name="author" content="José Luis Vicente"/>
    <meta data-n-head="ssr" property="og:author" content="José Luis Vicente"/>
    <meta data-n-head="ssr" name="image" content="https://cdn.msgsndr.com/location%2Ff2gFHKOi3skLYBDpxSXd%2Fimages%2Fd1bbe5bb-a975-4f92-b40a-c4a78f0f7ac2.jpeg?alt=media"/>
    <meta data-n-head="ssr" property="og:image" content="https://cdn.msgsndr.com/location%2Ff2gFHKOi3skLYBDpxSXd%2Fimages%2Fd1bbe5bb-a975-4f92-b40a-c4a78f0f7ac2.jpeg?alt=media"/>
    <meta data-n-head="ssr" property="og:type" content="website"/>
    <meta data-n-head="ssr" property="twitter:type" content="website"/>
    <link data-n-head="ssr" rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="anonymous"/>
    <link data-n-head="ssr" rel="preconnect" href="https://use.fontawesome.com" crossorigin="anonymous"/>
    <link data-n-head="ssr" rel="icon" type="image/x-icon" href=""/>
    <link data-n-head="ssr" rel="preload" as="style"
        href="https://fonts.googleapis.com/css?family=Lato:400,700%7COpen%20Sans:400,700%7CMontserrat:400,700%7CMeie%20Script:400,700%7CNanum%20Pen%20Script:400,700%7CNova%20Script:400,700%7CPetit%20Formal%20Script:400,700%7CPinyon%20Script:400,700%7CRouge%20Script:400,700%7CAlegreya%20Sans:400,700%7CDancing%20Script:400,700&display=swap"/>
    <link data-n-head="ssr" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Lato:400,700%7COpen%20Sans:400,700%7CMontserrat:400,700%7CMeie%20Script:400,700%7CNanum%20Pen%20Script:400,700%7CNova%20Script:400,700%7CPetit%20Formal%20Script:400,700%7CPinyon%20Script:400,700%7CRouge%20Script:400,700%7CAlegreya%20Sans:400,700%7CDancing%20Script:400,700&display=swap"
        media="print" onload="this.media='all'"/>
    <link data-n-head="ssr" rel="preload" as="style"
        integrity="sha384-rbtXN6sVGIr49U/9DEVUaY55JgfUhjDiDo3EC0wYxfjknaJamv0+cF3XvyaovFbC"
        href="https://use.fontawesome.com/releases/v5.13.0/css/regular.css" crossorigin="anonymous"/>
    <link data-n-head="ssr" rel="preload" as="style"
        integrity="sha384-fZFUEa75TqnWs6kJuLABg1hDDArGv1sOKyoqc7RubztZ1lvSU7BS+rc5mwf1Is5a"
        href="https://use.fontawesome.com/releases/v5.13.0/css/solid.css" crossorigin="anonymous"/>
    <link data-n-head="ssr" rel="preload" as="style"
        integrity="sha384-yZSrIKdp94pouX5Mo4J2MnZUIAuHlZhe3H2c4FRXeUcHvI2k0zNtPrBu8p3bjun5"
        href="https://use.fontawesome.com/releases/v5.13.0/css/brands.css" crossorigin="anonymous"/>
    <link data-n-head="ssr" rel="stylesheet"
        integrity="sha384-rbtXN6sVGIr49U/9DEVUaY55JgfUhjDiDo3EC0wYxfjknaJamv0+cF3XvyaovFbC"
        href="https://use.fontawesome.com/releases/v5.13.0/css/regular.css" crossorigin="anonymous"/>
    <link data-n-head="ssr" rel="stylesheet"
        integrity="sha384-fZFUEa75TqnWs6kJuLABg1hDDArGv1sOKyoqc7RubztZ1lvSU7BS+rc5mwf1Is5a"
        href="https://use.fontawesome.com/releases/v5.13.0/css/solid.css" crossorigin="anonymous"/>
    <link data-n-head="ssr" rel="stylesheet"
        integrity="sha384-yZSrIKdp94pouX5Mo4J2MnZUIAuHlZhe3H2c4FRXeUcHvI2k0zNtPrBu8p3bjun5"
        href="https://use.fontawesome.com/releases/v5.13.0/css/brands.css" crossorigin="anonymous"/>
    

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <!--<script src="main.js"></script>-->
    <style data-n-head="ssr" type="text/css"></style>
</head>
<body>
      
    <!--<%- include('navbar.ejs') %>-->
    